footer {
  position: fixed;
  bottom: 2%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer p {
  font-size: 16px;
  color: var(--dark);
}
footer p a,
footer p a:hover,
footer p a:visited,
footer p a:focus {
  color: var(--dark);
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}
