nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 60px;
  margin: 0 auto;
}
nav h2 {
  color: var(--white);
  font-size: 2rem;
}
nav div.itens a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.3rem;
}
nav div.itens a ~ a {
  margin-left: 20px;
}
nav div.itens a.active {
  border-bottom: 2px solid var(--principal);
  color: var(--principal);
}
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    width: 100%;
    margin-top: 1.5rem;
  }
  nav h2 {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
  }
}
